body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

h1{
    color: #ff0000;
}

h2{
    color: #ff8f3e;
}

label{
    color: #adb600;
}

li{
    color: #02b002;
}

#user_info{
    color: #0003b6bb;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddddddb0;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #e5e5e5;
}

tr:hover {
    background-color: #f1f1f1;
}

td[colspan="2"] {
    background-color: #f9f9f9;
    cursor: pointer;
}

/* Default button styles for stock status */
.stock-button {
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

/* Specific styles for "Enough Stock" */
.stock-button.enough {
    background-color: gray;
}

/* Specific styles for "Low Stock" */
.stock-button.low {
    background-color: red;
}
