html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgb(255, 255, 255);
}

.main-content {
    padding: 20px;
}

.navbar-default {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: #222;
    border-color: transparent;
    min-height: 50px;
    padding: 10px 0;
    box-shadow: 0 0 5px 2px gray;
}

.navbar-header {
    width: 100%;
    text-align: center;
}

.navbar-brand {
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding: 0;
    float: left;
    color: #ffffff;
    font-size: 24px;
    padding-left: 15px;
    padding-bottom: 5px;
    line-height: 20px; /**/
}

.navbar-right {
    margin-left: 10%; /**/
}

.navbar-right li {
    display: inline;
    padding: 0 10px;
}

.navbar-right li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.navbar-default .navbar-right li a:hover,
.navbar-default .navbar-right li a:focus {
    outline: 0;
    color: #1ee2e7;
}

h1{
    color: #ff0000;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

h2{
    color: #ff8f3e;
}

label{
    color: #adb600;
}

#user_info{
    color: #0003b6bb;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddddddb0;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #e5e5e5;
}

tr:hover {
    background-color: #f1f1f1;
}

td[colspan="2"] {
    background-color: #f9f9f9;
    cursor: pointer;
}

/* Default button styles for stock status */
.stock-button {
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

/* "Enough Stock" */
.stock-button.enough {
    background-color: gray;
}

/* "Low Stock" */
.stock-button.low {
    background-color: red;
}
